
<li class="media comment">
  <div class="media-body">
    <p><h4 class="media-heading">
      <%= comment.user.name %>
      <small class="text-muted">[ <%= comment.user.city %>]</small>:&nbsp;&nbsp;<%= comment.body %></h4></p>
  </div>
</li>
