
  <%= form_for Comment.new, remote: true do |f| %>


  <% if current_user %>
      <%= f.text_field :body %>
      <%= f.submit 'Send' %>
  <% else %>
      <h3>Sign in or Create an account to chat with the moderators.</h3>
    <% end %>




  <% end %>

<%= subscribe_to "/comments/new" %>
